# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# These are here while I figure out the best strategy for generating the names for the codes:
/doc.by_highest_frequency/
/doc.by_lowest_frequency/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
color_palette-*.tar

# Temporary files, for example, from tests.
/tmp/

/guides/ansi_color_codes.md
/guides/color_groups.md
